    <div class="hero-unit customUnit centreDiv trackDiv">
      <h1>Welcome to Hokuto no Kaimono!</h1>
      <i>A place for all of your music needs</i>
    </div>
  </div>
</div>

<div class="row-fluid">
  <div class="span6 centreDiv">
    <h1><u>Ten Most Recently Added Tracks</u></h1>
    <br>
    <div id="tenMostRecentTracks" class="carousel slide carousel-fade">
      <div class="carousel-inner">
        <% tenMostRecentTracks.each do |track, i| %>
          <% if i == 0 %>
            <div class="item active">
              <%= image_tag track.album.photo.url(:medium) %>
              <div class="carousel-caption">
                <%= link_to track do %>
                  <h2><%= track.title %> - <%= track.artist.name %></h2>
                  <i>Released: <%= track.release_date %></i>
                <% end %>
              </div>
            </div>
          <% else %>
            <div class="item">
              <%= image_tag track.album.photo.url(:medium) %>
              <div class="carousel-caption">
                <%= link_to track do %>
                  <h2><%= track.title %> - <%= track.artist.name %></h2>
                  <i>Released: <%= track.release_date %></i>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
      <a class="carousel-control left" href="#tenMostRecentTracks" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#tenMostRecentTracks" data-slide="next">&rsaquo;</a>
    </div>
  </div>

  <div class="span6 centreDiv">
    <h1><u>Ten Most Recently Added Albums</u></h1>
    <br>
    <div id="tenMostRecentAlbums" class="carousel slide carousel-fade centreDiv">
      <div class="carousel-inner">
        <% tenMostRecentAlbums.each do |album, i| %>
          <% if i == 0 %>
            <div class="item active">
              <%= image_tag album.photo.url(:medium) %>
              <div class="carousel-caption">
                <%= link_to album do %>
                  <h2><%= album.name %></h2>
                  <i>Released: <%= album.release_date %></i>
                <% end %>
              </div>
            </div>
          <% else %>
            <div class="item">
              <%= image_tag album.photo.url(:medium) %>
              <div class="carousel-caption">
                <%= link_to album do %>
                  <h2><%= album.name %></h2>
                  <i>Released: <%= album.release_date %></i>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
      <a class="carousel-control left" href="#tenMostRecentAlbums" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#tenMostRecentAlbums" data-slide="next">&rsaquo;</a>
    </div>
  </div>
</div>