		<div class="hero-unit customHero">
			<h1><i class="icon-credit-card"></i> Order Details</h1>
		</div>
	</div>
</div>

<table class="table">
	<tr>
		<th></th>
		<th>Track Number on Album</th>
		<th>Title</th>
		<th>Artist</th>
		<th>Album</th>
		<th>Genre</th>
		<th>Price</th>
		<th>Track Length</th>
		<th>Download</th>
	</tr>
	<% @orderDetails.each do |order| %>
	<tr>
		<% imageLocation = "http://hokuto.s3.amazonaws.com" + order.album.photo.path(:small) %>
		<td><%= image_tag imageLocation %></td>
		<td><%= order.trackNumber %></td>
		<td><%= link_to order.title %></td>
		<td><%= link_to order.artist.name %></td>
		<td><%= link_to order.album.name %></td>
		<td><%= link_to order.genre.name %></td>
		<td><%= number_to_currency(order.price, :unit => "&pound;") %></td>
		<td><%= (Time.mktime(0) + order.length).strftime("%Mm %Ss %Lms") %></td>
		<td><%= link_to "Download Track", order.mp3.expiring_url(300) %></td>
	</tr>
	<% end %>
</table>